@font-face {
    font-family: 'Habibi';
    src: local('Habibi'), local('Habibi-Regular'), url('habibi.woff2') format('woff2'), url('habibi.woff') format('woff'), url('habibi.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
